<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Library Management System</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fontawesome")

</head>

<body>

    <!-- Navigation -->
    <nav id="top-bar" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">
                LIBRARY MANAGEMENT SYSTEM
            </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li>
                <a href="@Url.Action("Logout","Authentication")">
                    Sign Out <i class="fa fa-sign-out fa-fw"></i>
                </a>
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div id="sidebar" class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-dashboard fa-fw"></i> Overview
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Customers")">
                            <i class="fa fa-user fa-fw"></i>
                            Customers
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "LibraryItems")">
                            <i class="fa fa-book fa-fw"></i>
                            Manage Library Items
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Search", "LibraryItems")">
                            <i class="fa fa-search fa-fw"></i>
                            Search Library Items
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Find","Customers")">
                            <i class="fa fa-bookmark fa-fw"></i>
                            Check-Out / Check-out Item
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->

    </nav>


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>


    <!-- Item Check Out Modal -->
    <div class="modal fade" id="check-out" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Check Out Item</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts")
    @RenderSection("scripts", required: false)

</body>
</html>
