@model LibraryManagementSystem.Models.LibraryItem

@{
    ViewBag.Title = "Add Library Item";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-lg-6">
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ItemType, htmlAttributes: new { @class = "control-label" })
                <p class="form-control-static">@ViewBag.itemType</p>
                <input type="hidden" name="ItemType" value="@ViewBag.itemType" />
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PublicationYear, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.PublicationYear, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PublicationYear, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Author, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.Author, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Author, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Quantity, htmlAttributes: new {@class = "control-label"})
                @Html.EditorFor(model => model.Quantity, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Quantity, "", new {@class = "text-danger"})
            </div>

            <div class="row">
                <div class="col-xs-6">
                    @Html.ActionLink("Back to List", "Index", "LibraryItems")
                </div>
                <div class="col-xs-6 text-right">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}