@model LibraryManagementSystem.Models.Reservation

@{
    ViewBag.Title = "reservation_list_item";
}

<div class="item" data-content="item" data-reservation-id="@Model.Id">
    <div class="row">
        <div class="col-xs-6">
            <p><b>@Model.LibraryItem.Title</b></p>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p>
                @(Model.IsReserved ? "Check out" : "Return") by @Model.GetDueDate()
                @if (Model.CalculateLateFee() > 0)
                {
                    <b><span class="text-danger">(Overdue)</span></b>
                }
            </p>
        </div>
        <div class="col-xs-12 col-sm-3 text-right">
            <button class="action-btn btn btn-danger"
                    data-trigger="check-in"
                    data-reservation-id="@Model.Id">Check In</button>
        </div>
    </div>
</div>